*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
}

body {
    margin-top: 70px;
}

.container-course {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 62vh 1fr 1fr 64px;
    gap: 1.5em;
}

.banner-course {
    background: #23313a;
    grid-column: span 10;
    grid-row: 1;
}


/*Maquetación dentro del banner-course*/
.banner-design{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 92%;
    height: 92%;
    margin: 15px auto ;
}

.banner-design h1 {
    grid-column: span 3;
    grid-row: 2;
    color: #ffffff;
}

.banner-design p {
    color: #9ea6aa;
}

.banner-design p img{
    width: 20px;
    height: 20px;
    float: left;
}

.banner-design p::before{
    content: 'n';
    opacity: 0;
}

.banner-design p:nth-child(2){
    grid-column: span 3;
    grid-row: 3;

}


.banner-design p:nth-child(3){
    grid-column: span 3;
    grid-row: 4;
}

.banner-design p:nth-child(4){
    grid-column: span 3;
    grid-row: 5;
}

.banner-design p:nth-child(5){
    grid-column: span 3;
    grid-row: 6;
}

.banner-design p:nth-child(6){
    grid-column: span 3;
    grid-row: 7;
}
.banner-design .container-course-img {
    grid-column: 4 / span 4;
    grid-row: 2 / span 6;
}
.banner-design img  {
    width: 100%;
    height: 100%;
}

.banner-design a{
    color: #57b4f3;
    font-weight: normal;
    text-decoration: none;
}

.banner-design a:hover{
    border-bottom: 1px solid #57b4f3;
}


.banner-design .online-class{
    grid-column: 2 /span 1;
    grid-row: 8/ span 1;
}

.online-class a{
    color: #ffbf58;
    font-size: 1.3em;
    text-decoration: none;
}
.online-class a:hover{
    border-bottom: 2px solid #ffbf58;
}


.description-course {
    grid-column: span 7;
    grid-row: 2;
    background: #fff;
    margin-left: 5%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
/*    Maquetacion de description-course*/
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-gap: 1em;

}
/*Maquetación de la descripcion del curso*/

.paragraph p {
    margin-top: 1em;
    line-height: 1.5em;
}

.stuff {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.stuff p::before{
    content: '✅ ';
}

.stuff .goals {
    grid-column: 1 / span 1;
    display: grid;
    grid-template-rows: 1.8em repeat(6, 1fr);
    grid-gap: .5em;
}

.stuff .goals h2 {
    font-size: 1em;
}

.stuff .goals p {
    padding: 2px;
    font-size: .9em;
}

.stuff .skills {
    grid-column: 2 / span 1;
    display: grid;
    grid-template-rows: 1.8em repeat(6, 1fr);
    grid-gap: .5em;
}

.stuff .skills h2{
    font-size: 1em;
}

.stuff .skills p {
    padding: 2px;
    font-size: .9em;
}


























.teacher-course {
    grid-column: span 3;
    grid-row: 2;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-right: 5%;
    display: grid;
    grid-template-rows: 100px 1.5em 1fr;
    grid-gap: 1em;
    text-align: center;
    height: 220px;
}


.picture-teacher {
    grid-row: span 1;
    margin-top: 1em;
}

.picture-teacher img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}



.chapter-course {
    grid-column: span 7;
    grid-row: 3;
    background: purple;
    margin-left: 5%;
}

.resources-course {
    grid-column: span 3;
    grid-row: 3;
    background: green;
    margin-right: 5%;
}

.footer {
    grid-column: span 10;
    grid-row: 4;
    background: #2A3B47;
    display: grid;
    justify-items: center;
    align-items: center;
}

/*.footer .content-footer{*/
/*    background: red;*/
/*    display: inline-block;*/
/*    */
/*}*/
.footer p {
    color: #BDBDBD;
}